@using Otomation.Models.Sınıflar
@model List<Cari>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Cari Ad</th>
            <th>Cari Soyad</th>
            <th>Cari Mail</th>
            <th>Cari Sehir</th>
            <th colspan="2"><a href="/Cari/CariEkle" class="btn btn-warning"> Yeni Cari Oluştur</a> </th>

        </tr>

        @foreach (var k in Model)
        {
            <tr>
                <td>
                    @k.Cariid
                </td>
                <td>
                    @k.CariAd
                </td>
                <td>
                    @k.CariSoyad
                </td>
                <td>
                    @k.CariMail
                </td>
                <td>
                    @k.CariSehir
                </td>
                <td>
                    <a href="/Cari/CariGetir/@k.Cariid"
                       class="btn btn-primary">Güncelle</a>
                </td>
                <td>
                    <a href="/Cari/CariSil/@k.Cariid"
                       class="btn btn-danger">Sil</a>
                </td>
                <td>
                    <a href="/Cari/CariSatis/@k.Cariid"
                       class="btn btn-outline-warning">Satislar</a>
                </td>

            </tr>

         }
    </table>*@


<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <!-- /.card -->

                        <div class="card">
                            <div class="card-header">
                                <a href="/Cari/CariEkle" class="btn btn-warning">Cari Ekle</a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Cari Ad</th>
                                            <th>Cari Soyad</th>
                                            <th>Cari Mail</th>
                                            <th>Cari Sehir</th>
                                            <th> Güncelle</th>
                                            <th> Sil</th>
                                            <th>Satislar</th>
                                           


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var k in Model)
                                        {
                                           <tr>
                                               <td>
                                                   @k.Cariid
                                               </td>
                                               <td>
                                                   @k.CariAd
                                               </td>
                                               <td>
                                                   @k.CariSoyad
                                               </td>
                                               <td>
                                                   @k.CariMail
                                               </td>
                                               <td>
                                                   @k.CariSehir
                                               </td>
                                               <td>
                                                   <a href="/Cari/CariGetir/@k.Cariid"
                                                      class="btn btn-primary">Güncelle</a>
                                               </td>
                                               <td>
                                                   <a href="/Cari/CariSil/@k.Cariid"
                                                      class="btn btn-danger" onclick="silButton()">Sil</a>
                                               </td>
                                               <td>
                                                   <a href="/Cari/CariSatis/@k.Cariid"
                                                      class="btn btn-outline-warning">Satislar</a>
                                               </td>

                                           </tr>

                                        }

                                    </tbody>

                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
    </div>
</body>


