@model Otomation.Models.Sınıflar.Personel


@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Personel Getir </h2>
<br />
@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.PersonelAd)
        @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.PersonalSoyad)
        @Html.TextBoxFor(x => x.PersonalSoyad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.PersonalGorsel)
         <input type="file" name=" PersonelGorsel" />
        <br />
        @Html.LabelFor(x => x.Departman)
        @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.dgr2,
   new { @class = "form-control" })
        @Html.HiddenFor(x => x.PersonelID)
    </div>

    <button class="btn btn-outline-warning" onclick="GuncelleButton()"> Güncelle </button>
}