@model Otomation.Models.Sınıflar.FaturaKalem


@{
    ViewBag.Title = "FaturaKalemGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> FaturaKalem Getir </h2>
<br />
@using (Html.BeginForm("FaturaKalemGuncelle", "FaturaKalem", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Aciklama)
        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Miktar)
        @Html.TextBoxFor(x => x.Miktar, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.BirimFiyat)
        @Html.TextBoxFor(x => x.BirimFiyat, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Tutar)
        @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Faturalar)
        @Html.DropDownListFor(x => x.Faturaid, (List<SelectListItem>)ViewBag.dgr2,
        new { @class = "form-control" })
        <br />
        @Html.HiddenFor(x => x.FaturaKalemid)
    </div>

    <button class="btn btn-outline-warning" onclick="GuncelleButton()"> Güncelle </button>
}