@using Otomation.Models.Sınıflar
@model List<Urun>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Urun Ad</th>
            <th> Marka</th>
            <th> Stok</th>
            <th> AlisFiyat</th>
            <th> SatisFiyat</th>
            <th> Kategori </th>
            <th> Görsel</th>
            <th> Durum</th>
            <th colspan="2"><a href="/Urun/UrunEKle" class="btn btn-warning"> Yeni Personel Oluştur</a> </th>

        </tr>

        @foreach (var k in Model)
        {
            <tr>
                <td>
                    @k.Urunid
                </td>
                <td>
                    @k.UrunAd
                </td>
                <td>
                    @k.Marka
                </td>
                <td>
                    @k.Stok
                </td>
                <td>
                    @k.AlisFiyat
                </td>
                <td>
                    @k.SatisFiyat
                </td>
                <td>
                    @k.Kategori.KategoriAd
                </td>

                <td>
                    @k.UrunGorsel
                </td>
                <td>
                    @k.Durum
                </td>
                <td>
                    <a href="/Urun/UrunGetir/@k.Urunid"
                       class="btn btn-primary">Güncelle</a>
                </td>
                <td>
                    <a href="/Urun/UrunSil/@k.Urunid"
                       class="btn btn-danger">Sil</a>
                </td>

            </tr>

         }
    </table>*@

@*<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <div class="card-body">
            <div class="card-header">
                <a href="/Urun/UrunEKle" class="btn btn-warning"> Yeni Personel Oluştur</a>
            </div>
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Urun Ad</th>
                        <th> Marka</th>
                        <th> Stok</th>
                        <th> AlisFiyat</th>
                        <th> SatisFiyat</th>
                        <th> Kategori </th>
                        <th> Görsel</th>
                        <th> Durum</th>
                        <th>Guncelle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var k in Model)
                    {
                        <tr>
                            <td>
                                @k.Urunid
                            </td>
                            <td>
                                @k.UrunAd
                            </td>
                            <td>
                                @k.Marka
                            </td>
                            <td>
                                @k.Stok
                            </td>
                            <td>
                                @k.AlisFiyat
                            </td>
                            <td>
                                @k.SatisFiyat
                            </td>
                            <td>
                                @k.Kategori.KategoriAd
                            </td>

                            <td>
                                <img src="@k.UrunGorsel" style="width:100px" />
                            </td>
                            <td>
                                @k.Durum
                            </td>
                            <td>
                                <a href="/Urun/UrunGetir/@k.Urunid"
                                   class="btn btn-primary">Güncelle</a>
                            </td>
                            <td>
                                <a href="/Urun/UrunSil/@k.Urunid"
                                   class="btn btn-danger">Sil</a>
                            </td>

                        </tr>

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Urun Ad</th>
                        <th> Marka</th>
                        <th> Stok</th>
                        <th> AlisFiyat</th>
                        <th> SatisFiyat</th>
                        <th> Kategori </th>
                        <th> Görsel</th>
                        <th> Durum</th>
                        <th>Guncelle</th>
                        <th>Sil</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>*@

<!--</body>-->





@*<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <a href="/Urun/UrunEKle" class="btn btn-outline-warning"> Yeni Urun Oluştur</a>
                            </div>

                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">

                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Urun Ad</th>
                                            <th> Marka</th>
                                            <th> Stok</th>
                                            <th> AlisFiyat</th>
                                            <th> SatisFiyat</th>
                                            <th> Kategori </th>
                                            <th> Görsel</th>
                                            <th> Durum</th>
                                            <th>Guncelle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var k in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @k.Urunid
                                                </td>
                                                <td>
                                                    @k.UrunAd
                                                </td>
                                                <td>
                                                    @k.Marka
                                                </td>
                                                <td>
                                                    @k.Stok
                                                </td>
                                                <td>
                                                    @k.AlisFiyat
                                                </td>
                                                <td>
                                                    @k.SatisFiyat
                                                </td>
                                                <td>
                                                    @k.Kategori.KategoriAd
                                                </td>

                                                <td>
                                                    <img src="@k.UrunGorsel" style="width:100px" />
                                                </td>
                                                <td>
                                                    @k.Durum
                                                </td>
                                                <td>
                                                    <a href="/Urun/UrunGetir/@k.Urunid"
                                                       class="btn btn-primary">Güncelle</a>
                                                </td>
                                                <td>
                                                    <a href="/Urun/UrunSil/@k.Urunid"
                                                       class="btn btn-danger">Sil</a>
                                                </td>

                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </section>
    </div>
</body>*@

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <!-- /.card -->

                        <div class="card">
                            <div class="card-header">
                                <a href="/Urun/UrunEKle" class="btn btn-warning">Ürün Ekle</a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Urun Ad</th>
                                            <th> Marka</th>
                                            <th> Stok</th>
                                            <th> AlisFiyat</th>
                                            <th> SatisFiyat</th>
                                            <th> Kategori </th>
                                            <th> Görsel</th>
                                            <th> Durum</th>
                                            <th> Güncelle</th>
                                            <th> Sil</th>
                                            <th>Detay</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var k in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @k.Urunid
                                                </td>
                                                <td>
                                                    @k.UrunAd
                                                </td>
                                                <td>
                                                    @k.Marka
                                                </td>
                                                <td>
                                                    @k.Stok
                                                </td>
                                                <td>
                                                    @k.AlisFiyat
                                                </td>
                                                <td>
                                                    @k.SatisFiyat
                                                </td>
                                                <td>
                                                    @k.Kategori.KategoriAd
                                                </td>

                                                <td>
                                                    <img src=" @k.UrunGorsel" style="width:100px;" />
                                                </td>
                                                <td>
                                                    @k.Durum
                                                </td>
                                                <td>
                                                    <a href="/Urun/UrunGetir/@k.Urunid"
                                                       class="btn btn-primary">Güncelle</a>
                                                </td>
                                                <td>
                                                    <a href="/Urun/UrunSil/@k.Urunid"
                                                       class="btn btn-danger" onclick="silButton()">Sil</a>
                                                </td>
                                                <td>
                                                    <a href="/UrunDetay/Index/@k.Urunid"
                                                       class="btn btn-danger">Detay</a>
                                                </td>

                                            </tr>

                                        }

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Urun Ad</th>
                                            <th> Marka</th>
                                            <th> Stok</th>
                                            <th> AlisFiyat</th>
                                            <th> SatisFiyat</th>
                                            <th> Kategori </th>
                                            <th> Görsel</th>
                                            <th> Durum</th>
                                            <th> Güncelle</th>
                                            <th> Sil</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
    </div>
   
</body>